<h1>Some headline</h1>
<table border="1">
  <tbody><tr class="some some-class">
     <td class="some-different-class">Material</td>
     <td class="some-other-class">Some material; some other material</td>
  </tr>
  <tr class="some some-class">
     <td class="some-different-class">Another property of the product</td>
     <td></td>
  </tr>
  <tr class="techdata-details-even">
     <td class="additional-info-class"><strong>net</strong></td>
     <td class="some-other-class"><strong>100 unit</strong> </span></td>
  </tr>
  <tr class="some some-class">
     <td class="some-different-class">And yet another property</td>
     <td></td>
  </tr>
  <tr class="techdata-details-odd">
     <td class="additional-info-class">subproperty (explanation)</td>
     <td class="some-other-class"> value </td>
  </tr>
  <tr class="some some-class">
     <td class="some-different-class">Property 123</td>
     <td class="some-other-class">value</td>
  </tr>
  <tr class="some some-class">
     <td class="some-different-class">Property 124</td>
     <td></td>
  </tr>
  <tr class="some some-class">
     <td class="some-different-class"></td>
     <td class="some-other-class"> value belongs to Property 124</td>
  </tr>
  <tr class="techdata-details-even">
     <td class="additional-info-class">subtitle for Property 124</td>
     <td class="some-other-class"> value for subtitle of Property 124</td>
  </tr>
</tbody></table>
